.jumbotron{
    background-color: #e6a8a1!important;
    color: white;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f9ccca!important;
  }

  .display-4{
      font-weight: bold;
  }